body{
    background-color: white;
    padding: 50px;
}
h1{
    background-color: black;
    color: white;
    margin: 10px;
    background-size: 1000px;
}
img{
    margin: 100px;
    width: 200px;
    border-radius: 50px;
}   